VITE_FIREBASE_API_KEY=AIzaSyAiL0J8poOLyQW9PUDUacPuKah0L2JMLeY
VITE_FIREBASE_AUTH_DOMAIN=mrabet-fb38c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mrabet-fb38c
VITE_FIREBASE_STORAGE_BUCKET=mrabet-fb38c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=195655893976
VITE_FIREBASE_APP_ID=1:195655893976:web:2c42fa40c7f27769c5a8ad
